.notification {
  width: 380px;
  background: rgba(42, 181, 4, 0.8);
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  border-radius: 14px;
  animation: showNotif .7s;
  margin-left: 0;

  &__title {
    margin: 0;
  }
}

@keyframes showNotif {
  0% {
    opacity: 0;
    margin-left: -100px;
  }

  100% {
    opacity: 1;
  }
}
