.product {
  display: flex;
  align-items: center;

  &__image {
    margin-right: 7px;
  }

  &__quantity {
    padding: 0 5px;
    height: 30px;
  }
}

.order-info {
  width: 150px;
  &__price {
    font-size: 18px;
    font-weight: 600;
  }

}
