.custom-select {
 position: relative;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;

  &__selected {
    padding: 10px;
    border-radius: 8px;
    transition: 1s;

    &:hover {
      background: #eaeaea;
    }
  }

}

.select-list {
  position: absolute;
  background: white;
  margin-top: 10px;
  z-index: 100;
  width: 100%;
  overflow: auto;
  box-shadow: 0 0 29px 0 rgba(34, 60, 80, 0.2);
  box-sizing: border-box;
  border-radius: 24px;
  min-height: 100px;

  &__item {
    padding: 15px;
    &:hover {
      background: #eaeaea;
    }
  }
}
