.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0;
  z-index: 200;
  background: rgb(52, 52, 52);
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  color: white;
  padding: 10px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  &__link {
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px 5px;
    transition: 1s;

    &:hover {
      color: black;
      background: white;
    }
  }

}
