.card {
  margin-right: 25px;
  width: 348px;
  height: 317px;
  cursor: pointer;

  &__preview {
    width: 100%;
    overflow: hidden;
    border-radius: 24px;
    height: 205px;
    display: flex;
    align-items: center;
    position: relative;

    img {
      width: 100%;
    }

    &:hover {
      filter: brightness(110%);
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 2px;
    overflow: hidden;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.delivery-time {
  position: absolute;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
