.restaurants {
  padding: 30px 213px;

  &__head {
    margin-bottom: 30px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }
}

.restaurants-title {
  font-size: 36px !important;
  margin: 0;
}
