.login {
  width: 400px;
  height: 400px;
  background: white;
  margin: 100px auto;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {

  &__row {
    margin-bottom: 10px;
  }
}

